<p>
  webduinosystems works!xxxx
</p>

<nb-card>
  <nb-card-header>
    Webduinosystem name
  </nb-card-header>
  <nb-card-body>
    <h5 class="grid-h">Impostazioni</h5>
    <div><span>id: </span></div>
    <div><span>name: </span></div>
  </nb-card-body>
  
  <nb-card-body>    
      <nb-tabset>
          <nb-tab tabTitle="Attuatori">
              <ng2-smart-table [settings]="actuatorsettings" [source]="actuatorsource" (deleteConfirm)="onDeleteConfirm($event)" (userRowSelect)="onUserRowSelect($event)">
                </ng2-smart-table>
          </nb-tab>
          <nb-tab tabTitle="Zone">
            <ng2-smart-table [settings]="zonesettings" [source]="zonesource" (deleteConfirm)="onDeleteConfirm($event)" (userRowSelect)="onUserRowSelect($event)">
            </ng2-smart-table>
          </nb-tab>
          <nb-tab tabTitle="Servizi">
              <ng2-smart-table [settings]="servicesettings" [source]="servicesource" (deleteConfirm)="onDeleteConfirm($event)" (userRowSelect)="onUserRowSelect($event)">
                </ng2-smart-table>
          </nb-tab>
      </nb-tabset>
    </nb-card-body>
  
    <nb-card-body>    
    <h5 class="grid-h">Scenari</h5>
      <ng2-smart-table [settings]="scenariosettings" [source]="scenariosource" (deleteConfirm)="onDeleteConfirm($event)" (userRowSelect)="onUserRowSelect($event)">
      </ng2-smart-table>
    </nb-card-body>

    

</nb-card>

